---
import { storyblokEditable } from "@storyblok/astro";
import Cloudimage from "../../react/Cloudimage";
import ImageDisplay from "components/common/ImageDisplay.astro";

const { blok } = Astro.props;
const params = "org_if_sml=0&force_format=webp,jpeg&func=cropfit&gravity=face";
---

<figure class="w-full h-full" {...storyblokEditable(blok)}>
  <ImageDisplay blok={blok.Image} />
  <figcaption>
    {blok.Image?.title && <p>{blok.Image.title}</p>}
    {blok.Image?.source && <p class="source">{blok.Image.source}</p>}
    {blok.Image?.credit && <p class="credit">{blok.Image.credit}</p>}
    {blok.Image?.copyright && <p class="copyright">{blok.Image.copyright}</p>}
    {
      blok.Image?.meta_data?.CollectionRecordID && (
        <p class="record">
          <a href={blok.Image?.meta_data?.CollectionRecordID}>
            Collection Record
          </a>
        </p>
      )
    }
  </figcaption>
</figure>

<style>
  Cloudimage {
    @apply max-w-full;
  }
  figcaption {
    @apply bg-gray-100 text-xs p-2.5;
  }
  .source,
  .copyright {
    @apply text-gray-400;
  }
</style>
