---
import YouTubeAPI from "components/react/YouTubeAPI";
import type { YouTubePlayerProps } from "react-player/youtube";

const { blok } = Astro.props;

let blockClassWidth = ["block", "w-full"];
if (blok.width != 100) blockClassWidth = ["block", "w-[" + blok.width + "]"];

let videoClassList = ["aspect-video"];
if (blok.aspectRatio.includes("landscape43")) videoClassList = ["aspect-[4/3]"];
if (blok.aspectRatio.includes("portrait169"))
  videoClassList = ["aspect-[9/16]"];
if (blok.aspectRatio.includes("portrait43"))
  videoClassList = ["aspect-[3/4]"];
if (blok.aspectRatio.includes("square")) videoClassList = ["aspect-square"];

let videoProps: YouTubePlayerProps = {};

if (blok.autoPlay) {
  videoProps.muted = true;
  videoProps.playing = true;
} else {
  videoProps.playing = false;
  videoProps.muted = false;
}

videoProps.url = blok.videoURL;
videoProps.width = "100%";
videoProps.height = "100%";
videoProps.controls = true;
videoProps.playervars = { rel: 0,  };
---

<div class:list={blockClassWidth}>
  <div class:list={videoClassList}>
    <YouTubeAPI
      client:visible
      url={videoProps.url}
      autoPlay={videoProps.playing}
      muted={videoProps.muted}
      width={videoProps.width}
      height={videoProps.height}
      playervars={videoProps.playervars}
    />
  </div>
</div>
